.fondo_footer {
    position: absolute;
    width: 1024px;
    height: 284px;
    left: calc(50% - 1024px/2);
    bottom: 17px;
    background: #3C2313;
  }

#derechos {

  position: absolute;
  width: 186px;
  height: 12px;
  left: calc(50% - 186px/2);
  bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 55px;
/* identical to box height */
  color: #FFFFFF;
}

.derechosfondos{
  
  position: absolute;
  width: 1024px;
  height: 20px;
  left: calc(50% - 1024px/2);
  bottom: 0px;
  
  background: #222222;
}

.iconlocations {
  position: absolute;
  width: 66px;
  height: 66px;
  left: calc(50% - 66px/2 - 409px);
  bottom: 212px;
  background: #786960;
  border-radius: 50px;
}

.titlelocations {
  position: absolute;
  width: 88px;
  height: 23px;
  left: calc(50% - 88px/2 - 307px);
  bottom: 235px;
  

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}


.grisLocalidad {
  position: absolute;
  width: 73px;
  height: 12px;
  left: calc(50% - 73px/2 - 314.5px);
  bottom: 223px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
/* identical to box height */ 
  color: #8A8787;
}


.icontelefono {
  position: absolute;
  width: 66px;
  height: 66px;
  left: calc(50% - 66px/2 - 409px);
  bottom: 126px;
  background: #786960;
  border-radius: 50px;
}

.titletelefono {
  position: absolute;
  width: 80px;
  height: 23px;
  left: calc(50% - 80px/2 - 311px);
  bottom: 149px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}

.gristelefono{
  
  position: absolute;
  width: 90px;
  height: 12px;
  left: calc(50% - 90px/2 - 306px);
  bottom: 137px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  color: #8A8787;
}

.logocatydog{
  position: absolute;
  width: 166px;
  height: 23px;
  left: 788px;
  top: 125px;
}

.iconcorreo{
  position: absolute;
  width: 66px;
  height: 66px;
  left: calc(50% - 66px/2 - 409px);
  bottom: 40px;
  background: #786960;
  border-radius: 50px;
}

.titlecorreo{
  
  position: absolute;
  width: 168px;
  height: 23px;
  left: calc(50% - 168px/2 - 267px);
  bottom: 63px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;

  color: #FFFFFF;
}

.griscorreo{

  position: absolute;
  width: 88px;
  height: 12px;
  left: calc(50% - 88px/2 - 307px);
  bottom: 51px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  color: #8A8787;
}